body {
    font-size: 16px;
}
h1 {
    font-size: 2rem;
    color: deeppink;
}
p{
    font-size: 1.2em;
    color: rgb(50, 100, 150)
}
.container {
    width: 80%;
    padding: 20px;
    background-color: rgba(123, 100, 150, 0.3);
    border: 2px;
    margin: 0;
}
.block {
    width: 200px;
    height: 100px;
    background-color: rgb(200, 50, 100);
    margin: 0;
}
.block2 {
    width: 200px;
    height: 100px;
    background-color: rgba(200, 50, 100, 0.7);
}
