h1 {
    color: blue;
    text-align: center;
}
h2 {
    color: lime;
}
p {
    font-size: medium;
}
p.bold-text {
    font-weight: bold;
}
.container {
    background-color: rgb(39, 39, 236);
}
.container2 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Walking_tiger_female.jpg/1200px-Walking_tiger_female.jpg");
}

