h1 {
    color: blue;
    text-align: center;
}
h2 {
    color: lime;
}
p {
    font-size: medium;
}
p.bold-text {
    font-weight: bold;
}
.container {
    background-color: rgb(238, 159, 143);
}
.container2 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Walking_tiger_female.jpg/1200px-Walking_tiger_female.jpg");
}
.box {
    padding: 15px;
    margin: 10px;
    border: 2px;
    background-color: salmon;
}
.small-box {
    width: 150px;
    height: 100px;
    overflow: hidden;
    background-color: lightblue;
    margin-bottom: 10px;
}
.big-box {
    width: 150px;
    height: 100px;
    overflow: hidden;
    background-color: lightcoral; 
}

