.rotate_t {
    transform:rotate(20deg) ;
    width: fit-content;
    margin-bottom: 40px;
    margin-top: 40px;
}
.scale_t {
    transform: scale(2);
    height: 30px;
    width: fit-content;
    background-color: burlywood;
    margin-left: 40px;
    margin-bottom: 40px;
}
.translate_t {
    transform: translate(100px, 200px);
    width: fit-content;
    background-color: antiquewhite;
}
.skew_t {
    transform: skew(30deg);
    width: fit-content;
    margin-left: 40px;
}
.transition_text {
    background-color: aqua;
    width: 150px;
    transition: width 1s,background-color 5s;
}
.transition_text:hover {
    background-color: beige;
    width: 200px;
}
.animation {
    animation:  bounce 1s infinite;
}
@keyframes bounce {
   0%, 20%, 50%, 80%, 100% {
       transform: translateX(0);
   }
   40% {
       transform: translateX(30px);
   }
   60% {
       transform: translateX(15px);
   }
}
