p {
    color:blue;
}

.highlight {
    font-weight: bold;
}

#main-title {
    color: red;
}

h1 {
    color: bisque;
}

.title {
    color: coral;
}

#main-title {
    color: aqua;
}

.conflict {
    background-color: crimson;
}

#conf-id {
    background-color: aqua;
}

div {
    background-color: darkslategray;
}
