body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f5f5f5;
}

h1, h2 {
     text-align: center;
     margin-bottom: 20px;
}

.block {
    width: 200px;
    height: 100px;
    background: white;
    margin: 20px auto;
    border-radius: 8px;
}

.shadow1 {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

.shadow2 {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
}

.shadow3 {
    box-shadow: -10px 10px 15px rgba(0,0,255,0.5);
}

.textBlock {
    text-align: center;
    margin: 20px 0;
}

.text1 {
    font-size: 32px;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.4);
}

.text2 {
    font-size: 32px;
    text-shadow: 2px 2px 10px red;
}

.text3 {
    font-size: 32px;
    text-shadow: -3px 3px 7px blue;
}

.linear {
    width: 250px;
    height: 120px;
    margin: 20px auto;
    background: linear-gradient(to right, red, yellow, green);
}

.linear2 {
    width: 250px;
    height: 120px;
    margin: 20px auto;
    background: linear-gradient(to bottom, blue, purple);
}

.radial {
    width: 250px;
    height: 120px;
    margin: 20px auto;
    background: radial-gradient(circle, yellow, orange, red);
}

.radial2 {
    width: 250px;
    height: 120px;
    margin: 20px auto;
    background: radial-gradient(ellipse, pink, purple);
}

.comment {
    font-size: 14px;
    color: #444;
    width: 80%;
    margin: 0 auto 25px;
}