 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      color: #111;
      width: 1440px;
    }

    hr {
      display: none;
      color: #C3D1C6;
    }

    .menu {
      display: none;
    }

    header {
      display: flex;
      align-items: center;
      padding: 12px 16px;
      background-color: #E1EDE6;
      width: 1440px;
    }

    .logo {
      display: flex;
      align-items: center;
      width: 143px;
      font-weight: 600;
      font-size: 18px;
      margin-left: 165px;
      margin-right: 497px;
    }



    nav {
      display: none;
    }

    .cart-icon {
      width: 24px;
      height: 24px;
    }

    .hero {
      display: flex;
      gap: 16px;
      text-align: center;
    }

    .hero img {
      max-width: 100%;
      width: 540px;
      height: 621px;
      margin-left: 165px;
    }

    .hero-title {
      font-size: 60px;
      font-weight: 600;
      line-height:110%;
      width: 540px;
      margin-top: 145px;
      margin-left: 30px;
      color: #2C2D35;
    }

    .hero-text {
      font-size: 18px;
      line-height:150%;
      color: #86928B;
      margin-left: 30px;
      margin-top: 20px;
    }

    .hero button {
      padding: 20px 60px;
      border: 1px solid #598D66;
      background: white;
      cursor: pointer;
      margin-left: 30px;
      margin-top: 60px;
      width:225px ;
      height:65px ;
    }
    
    .text {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .button {
      gap: 60px;
      font-size: 20px;
      width: 470px;
      display: flex;
    }

    .button button {
      font-size: 20px;
    }

    .green-button {
      color: #598D66;
      font-size: 20px;
    }

    span {
      color: #598D66;
    }

    @media (max-width: 768px) {
      header {
        width: 768px;
        height: 100px;
      }

      .button {
        display: flex;
        gap: 60px;
        width: 445px;
        font-size: 18px;
      }

      .button button {
        font-size: 18px;
      }

      .cart-icon {
      width: 24px;
      height: 24px;
    }

      .logo {
      width: 143px;
      margin-left: 39px;
      margin-right: 102px;
    }

      .hero img {
      width: 330px;
      height: 338px;
      margin-left: 39px;
      }

      .hero-title {
      font-size: 40px;
      font-weight: 500;
      line-height:100%;
      width: 330px;
      margin-top: 35px;
      margin-left: 30px;     
      }

    .hero-text {
      width: 330px;
      height: 108px;
      font-size: 18px;
      line-height:150%;
      color: #86928B;
      margin-left: 30px;
      margin-top: 20px;
    }
    .hero button {
      color: #598D66;
      font-size: 20px;
      width: 210px;
      height: 60px;  
      margin-top: 40px;    
    }
  }

    @media (max-width: 576px) {
    header {
      width: 576px;
      height: 123px;
      flex-direction: column;
    }
    
    .logo {
      text-align: center;
      width: 143px;
      justify-content: center;
      margin-left: 65px;
    }
    .button {
      width: 510px;
      text-align: left;
      justify-content: start;
      font-size: 18px;
    }
    
      .cart-icon {
      margin-left: 64px;

    }    

    hr {
      display: block;
      width: 510px;
      margin-bottom: 16px;
    }
    
    .hero img {
      max-width: 100%;
      width: 195px;
      height: 239px;
      margin-left: 33px;
      margin-top: 50px;
    }

      .hero-title {
      font-size: 36px;
      font-weight: 500;
      line-height:100%;
      width: 285px;
      margin-top: 50px;
      margin-left: 30px;     
      }    

    .hero-text {
      width: 285px;
      height: 96px;
      font-size: 16px;
      line-height:150%;
      color: #86928B;
      margin-left: 30px;
      margin-top: 10px;
    }  
    
    .hero button {
      padding: 14px 41px;
      background: white;
      cursor: pointer;
      margin-left: 30px;
      margin-top: 11px;
      width:178px ;
      height:50px ;
    }
  }
    @media (max-width: 320px) {
      header {
        width: 320px;
        height: 130px;
        flex-direction: column;
        padding: 0%;
    }
      .logo {
      text-align: center;
      width: 320px;
      justify-content: center;
      height: 68px !important;
      background-color: white;
      display: flex;
      align-items: center;
      margin: 0px;
    }
    .hero img {
      display: none;
    }
    .button {
      width: 290px;
      justify-content: space-between;
      margin-top: 16px;
    }    
    hr {
      display: none;
    }
    .button button {
      display: none;
    }
    .menu {
      display: block;
    }
      .hero-title {
      font-size: 30px;
      font-weight: 500;
      line-height:100%;
      width: 250px;
      margin-top: 60px;
      margin-left: 15px;     
      }  
    .hero-text {
      width: 290px;
      height: 63px;
      font-size: 14px;
      line-height:150%;
      color: #86928B;
      margin-left: 15px;
      margin-top: 20px;
    }
    .hero button {
      color: #598D66;
      font-size: 18px !important;
      width: 154px;
      height: 50px;  
      margin-top: 40px;   
      margin-left: 15px;
      padding: 14px 29px; 
    } 
    }